.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion__item {
  border-top: 1px solid;
  border-color: rgba($color-sapphire, 0.2);

  &:last-child {
    border-bottom: 1px solid;
    border-color: rgba($color-sapphire, 0.2);
  }
}

.accordion__element-content button:first-of-type {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 89px;
  padding: 25px 45px 24px 0;
  // padding: 33px 45px 32px 0;
  border: none;
  background-color: transparent;
  color: $color-sapphire;

  @include vp-1365 {
    // padding: 33px 45px 34px 0;
    // max-height: 92px;
  }
}

.accordion__element-content button:first-of-type br {
  display: none;

  @include vp-1365 {
    // display: inline;
  }
}

.accordion__element-content button:first-of-type:hover span:first-of-type,
.accordion__element-content button:first-of-type:focus span:first-of-type {
  color: $color-default-white;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $color-sapphire;
    border-radius: 50%;
    z-index: -1;
  }

  &::after {
    background-color: $color-default-white;
  }
}

.accordion__element-content b {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;
    text-align: start;
    max-width: 488px;
  }
}

.accordion__element-content span:first-of-type {
  position: absolute;
  right: 0;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid $color-sapphire;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 20px;
    transform: rotate(-90deg);
    background-color: $color-sapphire;
  }
}

.accordion__item.is-active .accordion__element-content {
  padding-bottom: 24px;
}

.accordion__item.is-active .accordion__element-content span:first-of-type,
.accordion__element-content button:first-of-type:active span:first-of-type {
  z-index: 1;
  color: $color-default-white;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $color-sapphire;
    border-radius: 50%;
    z-index: -1;
  }

  &::after {
    display: none;
  }
}

.accordion__item.is-active .accordion__element-content button:first-of-type {
  padding: 33px 45px 12px 0;
  min-height: auto;
}

.accordion__element-content p {
  max-width: 660px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;

  @include vp-1365 {
    max-width: 559px;
  }
}
