.advantage {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px;

  &--primary {
    color: $color-default-white;
    background-color: $color-resolution-blue;
  }

  @include vp-1365 {
    gap: 15px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 10px;
  }
}

.advantage__text-content {
  display: flex;
  flex-direction: column;
}

.advantage__text-content b {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;

  @include vp-767 {
    font-size: 64px;
    line-height: 64px;
  }
}

.advantage__text-content p br {
  @include vp-767 {
    display: none;
  }
}

.advantage__text-content p {
  margin: 0;

  @include vp-767 {
    max-width: 215px;
    font-size: 14px;
    line-height: 22px;
  }
}

.advantage__text-content h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
  }
}

.advantage__text-content small {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.advantage__text-content--primary {
  background: $red-to-blue-2;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantage--primary .advantage__text-content p {
  text-align: center;

  @include vp-1365 {
    max-width: 210px;
  }
}

.advantage--primary .advantage__text-content b:not(:last-child) {
  margin-bottom: 12px;

  @include vp-1365 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.advantage--primary .advantage__text-content span {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;

  &:not(:last-child) {
    margin-bottom: 34px;
  }

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
