.btn {
  display: inline-flex;
  justify-content: center;
  padding: 25px 20px;
  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: $color-default-white;
  background-color: $color-transparent;
  border: 2px solid $color-default-white;
  cursor: pointer;


  &--primary {
    color: $color-sapphire;
    border-color: $color-sapphire;
  }

  &--secondary {
    background: $red-to-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
