.btn {
  display: inline-flex;
  justify-content: center;
  padding: 25px 20px;
  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: $color-default-white;
  background-color: $color-transparent;
  border: 2px solid $color-default-white;
  cursor: pointer;
  user-select: none;

  @include vp-1365 {
    padding: 20px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn:not(.disabled) {
  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }
}

.btn.disabled {
  opacity: 0.5;
  pointer-events: none;

  &:focus-visible {
    outline: none;
  }
}

.btn--primary:not(.disabled) {
  color: $color-sapphire;
  border-color: $color-sapphire;

  @include hover-focus {
    background: $red-to-blue;
    color: $color-default-white;
    border-color: transparent;
  }

  @include active {
    background: $red-to-blue;
    border-color: transparent;
    color: rgba($color-default-white, 0.7);
  }
}

.btn--secondary {
  background: $red-to-blue;
}

.btn--secondary:not(.disabled) {
  @include hover-focus {
    background: $color-default-white;
  }

  @include active {
    background: $color-default-white;
  }
}

.btn--secondary.disabled {
  opacity: 0.5;
  color: $color-default-white;
  border-color: $color-default-white;
}

.btn--primary.disabled {
  opacity: 0.3;
  color: $color-sapphire;
  border-color: $color-sapphire;
}

.btn--arrow {
  align-items: center;
  width: 56px;
  height: 56px;
  padding: 0 15px;
  border-radius: 50%;
  border: solid 1px transparent;
  color: $color-sapphire;

  &:disabled {
    opacity: 0.3;
  }

  @include vp-767 {
    width: 42px;
    height: 42px;
  }
}

.btn--arrow:not(.disabled) {
  @include hover-focus {
    border-color: $color-sapphire;
    color: $color-sapphire;

    &:focus-visible {
      outline-offset: 3px;
    }
  }

  @include active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }
}
