.competitions {
  padding: 120px 0;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 69.5px 0;
  }
}

.competitions__slider-container {
  position: relative;

  @include vp-1365 {
    padding: 0 100px;
  }

  @include vp-767 {
    padding: 0 47px;
  }
}

.competitions__promo {
  justify-content: center;
}

.competitions__promo:not(:last-child) {
  margin-bottom: 120px;

  @include vp-1365 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }
}

.competitions__title {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 45px;
  }

  @include vp-1365 {
    text-align: center;
  }
}

.competitions__jury-slider:first-of-type {
  margin-top: 45px;

  @include vp-1365 {
    margin-top: 40px;
  }

  @include vp-767 {
    margin-top: 42px;
  }
}

.competitions__jury-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    left: 27px;
  }

  &--next {
    right: 27px;
  }

  @include vp-767 {
    &--prev {
      left: 2px;
    }

    &--next {
      right: 2px;
    }
  }
}
