.competitions {
  padding: 120px 0;
}

.competitions__slider-container {
  position: relative;
}

.competitions__promo:not(:last-child) {
  margin-bottom: 120px;
}

.competitions__title {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.competitions__jury-slider:first-of-type {
  margin-top: 45px;
}

.competitions__jury-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    left: 27px;
  }

  &--next {
    right: 27px;
  }
}
