.competitions {
  padding: 120px 0;
}

.competitions__promo:not(:last-child) {
  margin-bottom: 120px;
}

.competitions__title {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.competitions__jury-slider {
  position: relative;
  display: flex;
  min-height: 294px;
}

.competitions__jury-list {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.competitions__jury-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    left: -76px;
  }

  &--next {
    right: -76px;
  }
}
