.contacts {
  position: relative;
  padding: 61px 103px 60px 120px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: $color-light-slate-grey;
  }

  @include vp-1365 {
    padding: 105px 133px 96px;

    &::before {
      display: none;
    }
  }

  @include vp-767 {
    padding: 67px 15px 66px;
  }
}

.contacts__title {
  margin: 0;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }
}

.contacts__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 120px;
  width: 100%;
  word-break: break-word;

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 29px;
  }
}

.contacts__column {
  position: relative;
}

.contacts__column:nth-child(odd) {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -51px;
    height: 100%;
    width: 1px;
    background-color: $color-light-slate-grey;
  }

  @include vp-1365 {
    &::after {
      right: -61px;
    }
  }
}

.contacts__inner {
  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }
}

.contacts__subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  &--link {
    color: inherit;

    @include hover-focus {
      opacity: 0.5;
    }

    @include active {
      opacity: 0.3;
    }
  }

  @include vp-767 {
    line-height: 20px;
  }
}
