.form {
  padding: 60px 170px 59px 103px;
  background-color: $color-sapphire;
  color: $color-default-white;

  @include vp-1365 {
    padding: 100px 133px 99px;
  }
}

.form__title {
  margin: 0;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 33px;
  }

  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.form__inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  @include vp-1365 {
    gap: 60px;

    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }
}

.form__input {
  padding: 10px 10px 3px 0;
  font-family: $ff-roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $color-light-slate-grey;

  @include vp-1365 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  &::placeholder {
    color: $color-default-white;
  }

  &:hover:not(:disabled) {
    border-color: $color-default-white;
  }

  &:focus,
  :not(:placeholder-shown) {
    outline: 1px solid $color-default-white;
    border-color: transparent;
  }

  &:disabled {
    opacity: 0.4;
  }

  // &:invalid {
  //   border-color: red;
  //   outline: none;
  // }
}

.form__button {
  width: 100%;
}
