.gym {
  padding: 120px 0;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.gym__inner {
  display: grid;
  grid-template-columns: 355px 1fr;
  gap: 0 82px;

  @include vp-1365 {
    grid-template-columns: 1fr;
  }
}

.gym__text-content {
  font-family: $ff-roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;

  @include vp-1365 {
    text-align: center;
  }

  @include vp-767 {
    text-align: start;
  }
}

.gym__text-content h3 {
  margin: 0;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.62px;

  &:not(:last-child) {
    margin-bottom: 33px;
  }

  @include vp-1365 {
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;

    &:not(:last-child) {
      margin-bottom: 19px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;

      &:not(:last-child) {
        margin-bottom: 11px;
      }
    }
  }
}

.gym__text-content span {
  display: inline-block;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 95px;
  }

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include vp-767 {
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }
}

.gym__text-content p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  &:nth-child(2n) {
    @include vp-1365 {
      display: none;
    }
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include vp-1365 {
    width: 74%;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 39px;
    }
  }

  @include vp-767 {
    width: auto;
    max-width: 90%;
    margin: 0;
    font-size: 14px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 52px;
    }
  }
}

.gym__media-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;

  @include vp-767 {
    width: 100vw;
    left: -15px;
    gap: 40px;
  }
}

.gym__img-wrapper {
  display: flex;
  width: 660px;
  height: 401px;

  @include vp-1365 {
    justify-content: center;
    width: 100%;
    height: 345px;
  }

  @include vp-767 {
    height: 313px;
  }
}

.gym__img-wrapper img {
  @include vp-1365 {
    width: 100%;
  }
}

.gym__video-wrapper {
  position: relative;
  align-self: start;
  width: 364px;
  height: 228px;
  margin-top: -113px;

  @include vp-1365 {
    align-self: center;
    width: 265px;
    height: 167px;
    margin-top: -84px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
  }
}
