.gym {
  padding: 120px 0 120px;
}

.gym__inner {
  display: grid;
  grid-template-columns: 355px 1fr;
  gap: 0 82px;
}

.gym__text-content {
  font-family: $ff-roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-black;
}

.gym__text-content h2 {
  margin: 0;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.62px;

  &:not(:last-child) {
    margin-bottom: 33px;
  }
}

.gym__text-content span {
  display: inline-block;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 95px;
  }
}

.gym__text-content p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.gym__media-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.gym__img-wrapper {
  display: flex;
  width: 660px;
  height: 401px;
}

.gym__video-wrapper {
  position: relative;
  align-self: start;
  width: 364px;
  height: 228px;
  margin-top: -113px;
}
