.header {
  min-height: 40px;
  padding: 24px 0;
  background: $blue-to-red;
}

.header__links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  display: flex;
  width: 120px;
  height: 32px;
  padding: 6px 0;

  @include hover-focus {
    &[href] {
      opacity: 0.8;
    }
  }

  @include active {
    &[href] {
      opacity: 0.5;
    }
  }
}

.header__tel {
  position: relative;
  display: flex;
  padding: 6px 0;
  font-family: $ff-roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  color: $color-default-white;

  @include vp-1365 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }
}

.header__tel:not(.disabled) {
  @include hover-focus {
    color: $color-sapphire;
  }

  @include active {
    color: $color-sapphire;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-sapphire;
    }
  }
}

.header__tel.disabled {
  color: $color-ghost-white;
  opacity: 0.5;
  pointer-events: none;
}
