.hero {
  padding: 0 0 120px;
  background: $blue-to-red;
  color: $color-default-white;

  @include vp-1365 {
    padding: 0 0 100px;
  }

  @include vp-767 {
    padding: 36px 0 70px;
  }
}

.hero__inner {
  display: grid;
  grid-template-columns: 33.2% 43%;
  grid-template-rows: 1fr;
  gap: 0 70px;
  align-items: center;

  @include vp-1365 {
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.hero__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  max-width: 113px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  word-break: break-word;

  @include vp-767 {
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
  }
}

.hero__info-wrapper {
  display: flex;
  align-items: center;
  gap: 0 2px;

  @include vp-1365 {
    gap: 0 26px;
  }

  @include vp-767 {
    justify-content: center;
    gap: 12px;
  }
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 270px;
  word-break: break-word;

  @include vp-1365 {
    width: 57%;
  }
}

.hero__title {
  font-size: 92px;
  font-weight: 800;
  line-height: 110px;
  letter-spacing: 4.6px;
  text-align: end;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  @include vp-1365 {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: normal;
  }

  @include vp-767 {
    font-size: 62px;
    line-height: 70px;
    letter-spacing: 1.86px;

    &:not(:last-child) {
      margin-bottom: 59px;
    }
  }
}

.hero__link {
  min-width: 230px;
  scroll-behavior: smooth;

  @include vp-1365 {
    width: 100%;
    min-width: auto;
  }

  @include vp-767 {
    width: 176%;
    max-width: 290px;
  }
}

.hero__text {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.hero__picture-wrapper {
  display: flex;
  width: 500px;
  height: 524px;

  @include vp-1365 {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 524px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__picture-wrapper picture {
  display: flex;
}
