.promotion {
  display: grid;
  min-height: 211px;
  padding: 23px 28px 23px;
  border: 7px solid;
  border-image: $red-to-blue;
  border-image-slice: 1;

  &--primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    color: $color-default-white;
    background-color: $color-torch-red;
    border: none;
  }
}

.promotion__text-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.promotion--primary .promotion__text-content {
  padding: 40px 45px 40px;

  @include vp-1365 {
    padding: 45px 45px 40px;
  }
}

.promotion--primary .promotion__text-content b {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.promotion--primary .promotion__text-content h3 + b {
  margin-top: 5px;

  @include vp-1365 {
    margin-top: 0;
  }
}

.promotion--primary .promotion__text-content h3 {
  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.promotion--primary .promotion__text-content p {
  font-size: 18px;
}

.promotion__picture-wrapper {
  width: 280px;
  height: 462px;
}

.promotion__text-content h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include vp-1365 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }
}

.promotion__text-content p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.promotion__text-content p + a {
  margin-top: auto;
}

.promotion__text-content a {
  position: relative;
  margin-left: -10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.7px;

  &::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 10px;
    height: 1px;
    width: calc(100% - 20px);
    background-color: $color-sapphire;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    outline: 1px solid $color-sapphire;

    &::after {
      display: none;
    }
  }

  @include active {
    &::after {
      display: none;
    }
  }
}

.promotion__text-content a.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.promotion--primary .promotion__text-content a.disabled {
  opacity: 0.5;
}

.promotion--primary .promotion__text-content a {
  color: $color-default-white;

  &::after {
    background-color: $color-default-white;
  }

  @include focus {
    outline: 1px solid $color-default-white;
  }
}
