.promotion {
  display: grid;
  align-items: center;
  min-height: 211px;
  padding: 23px 28px;
  border: 7px solid;
  border-image: $red-to-blue;
  border-image-slice: 1;
  word-break: break-word;

  &--primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    color: $color-default-white;
    background-color: $color-torch-red;
    border: none;
  }

  @include vp-767 {
    &:not(.promotion--primary) {
      padding: 39px 28px 27px;
    }

    &--primary {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
}

.promotion__text-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: start;
  height: 100%;

  @include vp-767 {
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

.promotion--primary .promotion__text-content {
  padding: 40px 45px;

  @include vp-1365 {
    padding: 45px 45px 40px;
  }

  @include vp-767 {
    min-height: 300px;
  }
}

.promotion--primary .promotion__text-content b {
  margin-top: 5px;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;


  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @include vp-1365 {
    &:not(:last-child) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  @include vp-767 {
    font-size: 64px;
    line-height: 64px;
  }
}

.promotion--primary .promotion__text-content h3 {
  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.promotion--primary .promotion__text-content p {
  font-size: 18px;

  @include vp-767 {
    max-width: none;
    font-size: 16px;
    line-height: 20px;
  }
}

.promotion__text-content p br {
  @include vp-767 {
    display: none;
  }
}

.promotion__picture-wrapper {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 462px;

  @include vp-1365 {
    width: 399px;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
    max-height: 462px;
    min-height: 330px;
    max-width: 399px;
  }
}

.promotion__picture-wrapper img {
  width: 100%;
}

.promotion__picture-wrapper picture {
  display: flex;
  flex-grow: 1;
}

.promotion__text-content h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include vp-1365 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.promotion__text-content p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include vp-767 {
    max-width: 160px;
    font-size: 14px;
    line-height: 22px;
  }
}

.promotion__text-content p + a {
  margin-top: auto;
}

.promotion__text-content a {
  position: relative;
  margin-left: -10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.7px;

  &::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 10px;
    height: 1px;
    width: calc(100% - 20px);
    background-color: $color-sapphire;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    outline: 1px solid $color-sapphire;

    &::after {
      display: none;
    }
  }

  @include active {
    &::after {
      display: none;
    }
  }

  @include vp-767 {
    margin-left: 0;

    &::after {
      bottom: 6px;
    }
  }
}

.promotion--primary .promotion__text-content a {
  color: $color-default-white;

  &::after {
    background-color: $color-default-white;
  }

  @include focus {
    outline: 1px solid $color-default-white;
  }
}
