.promotions {
  padding: 120px 0;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.promotions__title:not(:last-child) {
  margin-bottom: 70px;

  @include vp-1365 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.promotions__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1365 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promotions__item {
  &--primary {
    grid-row: span 2;
  }

  @include vp-1365 {
    &--primary {
      grid-column: span 2;
    }
  }

  @include vp-767 {
    &--primary {
      grid-column: auto;
    }
  }
}
