.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1365 {
    grid-template-columns: 292px 386px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promo__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: $color-torch-red;
  color: $color-default-white;

  @include vp-1365 {
    padding: 40px 45px 45px;
  }

  @include vp-767 {
    padding: 40px;
  }

  @include vp-767 {
    gap: 6px;
    min-height: 309px;
  }
}

.promo__text-inner {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  @include vp-767 {}
  justify-content: space-evenly;
}

.promo__title {
  font-size: 82px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
  text-align: left;

  @include vp-1365 {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }
}

.promo__date-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  @include vp-1365 {
    gap: 8px;
  }

  @include vp-767 {
    @include vp-1365 {
      gap: 7px;
    }
  }
}

.promo__date-inner {
  display: grid;
  gap: 7px;
  width: max-content;
  margin: 0;

  @include vp-1365 {
    gap: 0;
  }
}

.promo__text {
  font-size: 18px;
  line-height: 24px;

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}

.promo__inner-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-top: 4px;
  border-top: 1px solid;

  @include vp-1365 {
    padding-top: 1px;
  }

  @include vp-767 {
    gap: 1px;
    padding-top: 2px;
  }
}

.promo__number {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;

  &:not(:last-child) {
    margin-right: 6px;
  }

  @include vp-1365 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

.promo__date-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: max-content;
}

.promo__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @include vp-1365 {
    font-size: 10px;
    line-height: 10px;
  }
}

.promo__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 55px;
  }

  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @include vp-767 {
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
  }
}

.promo__link {
  width: 100%;
  margin-top: auto;
}

.promo__image-wrapper {
  display: flex;
  width: 660px;
  height: 500px;

  @include vp-1365 {
    width: 100%;
    height: 324px;
  }

  @include vp-767 {
    height: 292px;
  }
}
