.reviews-card {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 30px;
  width: 560px;
  height: 259px;
  padding: 60px;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  box-shadow: 0 0 40px 0 rgba($color-resolution-blue, 0.2);
}

.reviews-card__picture-wrapper {
  width: 80px;
  height: 80px;
}

.reviews-card__picture-wrapper img {
  border-radius: 50%;
}

.reviews-card__text-content h3 {
  margin: 0 0 21px;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}
