.subscription-card {
  display: grid;
  justify-items: center;
  min-width: 360px;
  width: 100%;
  padding: 60px 15px 58px;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;
  word-break: break-word;
  text-align: center;

  @include hover-focus {
    border-image: $red-to-blue;
    border-image-slice: 1;
  }

  &--hero {
    border-image: $red-to-blue;
    border-image-slice: 1;

    @include hover-focus {
      border-image: none;
      border-color: $color-egyptian-blue;
    }
  }

  @include vp-767 {
    min-width: 290px;
    padding: 44px 35px 42px;
  }
}

.subscription-card__title {
  &:not(:last-child) {
    margin-bottom: 5px;

    @include vp-1365 {
      margin-bottom: 13px;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }
  }
}

.subscription-card__subtitle {
  &:not(:last-child) {
    margin-bottom: 10px;

    @include vp-1365 {
      margin-bottom: 16px;
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.subscription-card__btn {
  align-items: center;
  max-height: 78px;
  min-width: 205px;
}

.subscription-card__price {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0;
  min-height: 150px;
  font-weight: 700;
  z-index: 2;

  &:not(:last-child) {
    margin-bottom: 35px;
  }

  @include vp-1365 {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  @include vp-767 {
    min-height: 120px;
  }
}

.subscription-card__price-back {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: $color-whisper;
  opacity: 48;
  font-size: 100px;
  line-height: 150px;
  pointer-events: none;

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
  }
}

.subscription-card__price-forw {
  margin: 0;
  margin-top: auto;
  color: $color-egyptian-blue;
  font-size: 60px;
  line-height: 90px;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
  }
}

.subscription-card__price-forw svg {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}
