.subscriptions {
  position: relative;
  z-index: 1;
  padding: 126px 0 120px;
  background-color: $color-ghost-white;

  @include vp-1365 {
    padding: 100px 0;
  }
}

.subscriptions__title:not(:last-child) {
  margin-bottom: 14px;

  @include vp-1365 {
    margin-bottom: 18px;
  }
}

.subscriptions__buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0 50px;
  width: max-content;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: rgba($color-grey, 0.2);
  }

  &:not(:last-child) {
    margin-bottom: 36px;
  }

  @include vp-1365 {
    gap: 55px;

    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }
}

.subscriptions__button {
  position: relative;
  padding: 20px 0 13px;
  border: 0;
  font-family: $ff-roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: $color-sapphire;
  opacity: 50%;
  background-color: $color-transparent;
  user-select: none;

  @include vp-1365 {
    font-size: 18px;
    line-height: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  &--current {
    color: $color-sapphire;
    opacity: 1;

    &::after {
      background-color: $color-crimson;
    }
  }

  @include hover-focus {
    color: $color-sapphire;
    opacity: 1;

    &::after {
      background-color: $color-crimson;
    }
  }

  @include active {
    color: $color-sapphire;
    opacity: 1;

    &::after {
      background-color: $color-crimson;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;

    &::after {
      background: rgba($color-sapphire, 0.3);
    }
  }
}

.subscriptions__list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1365 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.subscription__item {
  display: flex;
  width: 65%;
}

.subscriptions__decor {
  position: absolute;
  bottom: -68px;
  right: 0;
  z-index: -1;
  pointer-events: none;
  display: flex;
  width: 287px;
  height: 331px;

  @include vp-1365 {
    bottom: -98px;
    right: 0;
    width: 327px;
    height: 324px;
  }
}
