.title {
  text-align: center;
  margin: 0;
  font-family: $ff-alumni;
  word-break: break-word;

  &--primary {
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
    }
  }

  &--secondary {
    font-family: $ff-roboto;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
    }
  }

  &--tertiary {
    font-family: $ff-roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;

    @include vp-1365 {
      font-size: 20px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
    }
  }
}
